@page
@model DePool.Pages.Admin.IndexModel
@{
}

<h1>Index</h1>

<ul>
    <li><a asp-page="./Pools/Index">Pools</a></li>
    <li><a asp-page="./Games/Index">Games</a></li>
    <li><a asp-page="./PoolUsers/Index">Pool Users</a></li>
    <li><a asp-page="./Users/Index">Users</a></li>
</ul>
