@page
@model DePool.Pages.Admin.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.PoolId" class="control-label"></label>
                <select asp-for="Game.PoolId" class ="form-control" asp-items="ViewBag.PoolId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Game.Home" class="control-label"></label>
                <input asp-for="Game.Home" class="form-control" />
                <span asp-validation-for="Game.Home" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Away" class="control-label"></label>
                <input asp-for="Game.Away" class="form-control" />
                <span asp-validation-for="Game.Away" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.DateTime" class="control-label"></label>
                <input asp-for="Game.DateTime" class="form-control" />
                <span asp-validation-for="Game.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
